@using yemekhane_otomasyon.Models.Siniflar
@model List<YemekTur>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class=" table-bordered" style="margin-top:20px" width="950px">
    <tr>
        <th>ID</th>
        <th>Yemek Türleri</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.YemekTurID
            </td>
            <td>
                @k.YemekTurAd
            </td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<button class="btn btn-primary" >Yeni yemek türü oluştur</button>