
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class=" table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Yemek Türleri</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Çorbalar</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Ana yemekler</th>
    </tr>
    <tr>
        <th>3</th>
        <th>Makarna ya da pilav </th>
    </tr>
    <tr>
        <th>4</th>
        <th>Tatlılar</th>
    </tr>
</table>
<button class="btn btn-primary">Yeni yemek türü oluştur</button>