@model yemekhane_otomasyon.Models.Siniflar.Yemekler
@{
    ViewBag.Title = "YeniYemek";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Yemek Ekleme</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.YemekAd)
    @Html.LabelFor(x => x.YemekAd, new { @class = "form-control" })

</form>
